
.AKAAN_ReplyNo
{
    margin-left: 10px;
    color: #789922;
}

.AKAAN_reply_no_popup
{
    display: block;
    position: absolute;
    color: #800000;
    background-color: #F0E0D6;
    border: solid 1px;
    z-index: 6;
    width: auto;
    font-size: 9pt;
}
